#info {
	position: fixed;
	top: 0px;
	z-index: 3000;
	background: white;
}

/* .landing-container {
	//@extend %bdr;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: url(../img/landing-page-images/001.jpg) no-repeat center center;
	background-size: cover;
	.landing-container__inner {
		
	}
	} */

//@include span(4 at 9 of 12);

/* .container {
 @include container(80em);
 @extend %bdr;
 } */

 .inner-padding {
 	padding: 0 1.5em;
	//@include rhythm(0, 4, 6, 0);
	@include breakpoint($medium){
		padding: 0 2em;
	}
}

.main-header {
	background: url(../img/header-image.jpg) no-repeat center center;
	//background-size: cover;
	@include rhythm(0, 0, 2, 0);
	.main-header_inner {
		@include container($max-width);
		a {
			display: block;
		}
	}
	@inc breakpoint($medium){
		@include rhythm(0, 0, 12, 0);
	}
}

.days-out-logo {
	//@extend %bdr;
	@include container;
	@include rhythm(0, 0, 0, 4);
	.days-out-logo_inner {
		@include span(12 of 12);
		a {
			width: 200px;
			@include breakpoint($medium) {
				width: 300px;
			}
			.logo {
				width: 100%;
			}
		}
	}
}

.sign-in {
	@include container;
	@include clearfix;
	//@extend %bdr;
	.tabs {
		@include container;
		////@extend %bdr;
		@include clearfix;
		@include span(12 of 12 );
		li {
			width: 100px;		  
			height: 55px;
			float: left;
			text-align: center;
			div {
				@extend %vertical-align;
				a {
					display: block;
				}
			}
			&.active {
				margin-right: 0;
				a {
					cursor: default;
				}
			}
			&.inactive {
				margin-left: 0;
				a {
					cursor: pointer;
				}
			}
			@include breakpoint($medium){
				width: 150px;
			}
			@include breakpoint($medium){
				height: 65px;
			}
		}
	}
	.sign-in_inner {
		@include span(12 of 12);
		.sign-in_inner__container {
			@include rhythm(0, 4, 5, 0);
			form {
				@include clearfix;
				input {
					vertical-align: top;
					float: left;
				}
				input[type="text"] {
					height: 52px;
					width: 80%;
					@include breakpoint($medium){
					}
				}
				input[type="image"] {
					width: 48px;
					&:hover {
					}
				}
			}
		}
	}
}

.how-it-works {
	background: url(../img/base/pattern.jpg) no-repeat center center;
	min-height: 300px;
	@include rhythm(0, 3, 3, 0);
}

.content-inner {
	//@extend %bdr;
	@include container($max-width);
	@include rhythm(0, 2, 2, 0);
	h2 {
		@include rhythm(0, 0, 0, 0);
		@include span(12 of 12);
		color: $white;
	}
	h3 {
		@include rhythm(0, 0, 0, 0);
		@include span(12 of 12);
		color: $white;
		@include adjust-font-size-to(18px, 2);
		font-family: 'din_lightregular';
		text-transform: uppercase;
	}
}

.small-titles {
	@include container($max-width);
	h3 {
		@include rhythm(0, 2, 0, 0);
		@include span(12 of 12);
	}
}

.arrow-right {
	width: 0; 
	height: 0;
	position: absolute;
	@extend %vertical-align;
	z-index: 3;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid green;
	right: -15px;
	@include breakpoint($small) {
		border-top: 45px solid transparent;
		border-bottom: 45px solid transparent;
		border-left: 45px solid green;
		right: -45px;
	}
	@include breakpoint($medium) {
		border-top: 60px solid transparent;
		border-bottom: 60px solid transparent;
		border-left: 60px solid green;
		right: -60px;
	}
}

.steps {
	li {
		position: relative;
		//@extend %bdr;
		@include span(4 of 12);
		height: 0;
		padding-bottom: 31.25%;
		h1 {
			//@include adjust-font-size-to(36px, 2);
			font-family: 'gotham_lightregular';
			@include fittext($min-media: 320px, $max-media: 1900px, $min-font-size: 18px, $max-font-size: 36px, $media-increment: 100, $font-increment: 2.5, $ratio: 1, $round: false);		
			margin-bottom: 2%;
		}
		&.search {
			.inner {
				
			}
			.arrow-right { 
			}
		}
		&.choose {
			.inner {
				
			}
			.arrow-right {
			}
		}
		&.enjoy {
			.inner {
				
			}
			.arrow-right {
				display: none; 
			}
		}
	}
	.inner {
		margin-top: 20%;
		margin-bottom: 20%;
		text-align: center;
		position: relative;
		z-index: 0;
		//@extend %bdr;
		i {
			img {
				margin: 0 auto;
				width: 40%;
			}
		}
		p {
			display: none;
			padding: 0 10%;
			@include breakpoint($medium) {
				display: block;
			}
		}
	}
}

.footer-container,
.search-container {
	background-color: $tertiary-color;
	@include rhythm(0, 3, 3, 0);
}

.search-select {
	@include rhythm(0, 2, 2, 0);
	@include span(12 of 12);
	ul {
		@include container($max-width);
		li {
			@include rhythm(0, .4, .4, 0);
			@include breakpoint($medium){
				@include span(3 of 12 );
			}
			&:first-child{
				margin-left: 0px;
			}
			&:last-child{
				margin-right: 0px;
			}
		}
	}
}

.search-select ul li input[type="submit"],
.search-select ul li button {
	width: 100%;
	&:hover {
		background-color: $secondary-color;
	}
}


.slick-slider-container {
	@include rhythm(0, 0, 0, 2);
	overflow: hidden;
	@include clearfix;
	@include breakpoint($medium){
		@include rhythm(0, 0, 0, 0);
	}
	.partners {
		.slick-slide {
			//@extend %bdr;
			//@include opacity(0.5);
			//@include transition(opacity 1s ease-in-out);
			background: $white;
			&.slick-active {
				//@include opacity(1);
				//@include transition(opacity 1s ease-in-out);
			}
			.inner {
				//@extend %bdr;
				@include clearfix;
				overflow: hidden;
				.w50, .w33 {
					float: left;
					overflow: hidden;
					position: relative;
					//padding: .2em;
					padding: .2em;
					@include transition(all .6s ease-in-out);
					@include breakpoint($large){
						padding: .5em;
					}
					.slider-image {
						width: 100%;
						position: relative;
						z-index: 1;
					}
					&.active {
						@include transition(all .2s ease-in-out);
						@include opacity(.6);
						//background-color: $black;
					}
				}
				.w50 {
					//@extend %bdr;
					width: 50%;
					&.first {
						margin-left: 0px;
					}
					&.last {
						margin-right: 0px;
					}
				}
				.w33 {
					//@extend %bdr;
					width: 33.333%;
					&.first {
						margin-left: 0px;
					}
					&.last {
						margin-right: 0px;
					}
				}
			}
		}
		//Mobile build
		.slide {
			.inner {
				a {
					position: relative;
					//@extend %bdr;
					display: block;
					padding: .5em;
				}
			}
		}
	}
}

.slider-image-wrapper { 
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: auto;
	width: auto;
	background: url(../img/base/shading.png) left bottom no-repeat;
	//margin: .5em .5em 0em .5em;
	margin: .5em;
	@include opacity(1);
	@include transition(all .6s ease-in-out);
	@include breakpoint($small){
		margin: .2em;
	}
	@include breakpoint($medium){
		margin: .2em;
		
	}
	@include breakpoint($large){
		//margin: 1em 0em 0em 1em;
		margin: .5em;	
	}
	/* &.active {
		@include transition(all .2s ease-in-out);
		@include opacity(.6);
		background-color: $black;
		} */
	}

	.slider-content-container {
		width: 100%;
		z-index: 3;
		position: absolute;
		color: $white;
		bottom: 0;
		padding: 1em 2em .5em 1em;
		@include text-shadow(rgba($black, 1) 1px 1px 0);
		@include breakpoint($medium){
			//padding: .5em;
		}
		h4 {
			font-family: 'gotham_lightregular';
			@include adjust-font-size-to(21px, 2);
			@include rhythm(0, 0, 0, 1);
			display: block;
			@include breakpoint($large){
				@include adjust-font-size-to(20px, 2);
				font-family: 'gotham_mediumregular';
			}
		}
		p {
			font-family: 'gotham_lightregular';
			@include adjust-font-size-to(16px, 1.8);
			@include rhythm(0, 0, 0, 1);
			display: block;
		}
	}

	.slider-image {
		width: 100%;
	//margin: 2em;
}

.logos-container {
	//@extend %bdr;
	@include container($max-width);
	overflow: hidden;
	.logos {
		.slick-list {
			.slick-track {
				.slick-slide {
					.slider-image {
						width: 100%;
						//@include opacity(0.5);
					}
				}
			}
		}
	}
}



.footer-container {
	.content-inner {
		.days-out-logo_inner {
			@include breakpoint($medium){
				@include span(2.2);
			}
			.logo {
				width: 100%;
			}
		}
		nav {
			@include rhythm(0, 0, 0, 4);
			@include clearfix;
			@include breakpoint($medium){
				@include span(4.8);
				@include rhythm(0, 6, 0, 0);
			}
			ul {
				@include adjust-font-size-to(16px, 1.8);
				li {
					float: left;
					margin-right: 1em;
					a {
						text-decoration: none;
						&:hover {
						}
					}
				}
			}
		}
		.copyright {
			@include clearfix;
			@include breakpoint($medium){
				@include span(5);
				@include rhythm(0, 6, 0, 0);
			}
			p {
				@include rhythm(0, 0, 0, 1);
			}
			a {
				display: block;
				width: 100%;
				@include breakpoint($medium){
				}
				img {
					@include breakpoint($medium){
						float: right;
					}
				}
			}
		}
	}
}



.template-header {
	background: url(../img/base/pattern.jpg) no-repeat center center;
	position: relative;
	z-index: 1;
	.inner {
		@include clearfix;
		//@extend %bdr;
		.days-out-logo {
			@include rhythm(0, 0, 0, 0);
			.days-out-logo_inner {
				width: 200px;
				@include breakpoint($medium) {
					width: 300px;
				}
			}
		}
	}
}


.inner-template-container {
	font-family: 'gotham_lightregular';
	//@extend %bdr;
	position: relative;
	min-height: 300px;
	.content-section {
		//padding-top: 300px;
		padding-top: 227px;
		z-index: 200;
		position: relative;
		.inner {
			//@extend %bdr;
		}
	}
}

.featured-header-image {
	//@extend %bdr;
	@include clearfix;
	position: absolute;
	z-index: 0;
	width: 100%;
	.inner {
		position: relative;
		max-width: 100em;
		height: 300px;
		margin: 0 auto;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center 0px;
		@include clearfix;
		@include breakpoint($medium) {
			background-size: inherit;
			background-position: center -100px;
		}
	}
}

.content-section {
	@include clearfix;
	.left {
		//@extend %bdr;
		@include span(8 of 12);
		.content-module {
			@include rhythm(0, 0, 3, 0);
			display: table;
			.logo-container {
				//@include span(4 of 12);
				//width: 33.333%;
				display: table-cell;
				//@extend %bdr;
				img {
					max-width: 220px;
				}
			}
			.detail-container {
				display: table-cell;
				vertical-align: bottom;
				float: none;
				//@extend %bdr;
				padding-left: 1em;
				h1 {
					color: $primary-color;
					@include rhythm(0, 0, 1, 0);
				}
			}
		}
		h2 {
			@include adjust-font-size-to(30px, 3.5);
			color: $primary-color;
			@include rhythm(0, 0, 0, 3);
		}
		p {
			@include adjust-font-size-to(20px, 2.8);
			@include rhythm(0, 0, 0, 2);
			color: $grey;
		}
	}
	.right {
		//@extend %bdr;
		@include span(3 of 12);
		@include push(1 of 12);
		.inner-content {
			@include rhythm(0, 0, 0, 5);
			//margin-top: -130px;
			#map_canvas {
				width: 100%;
				height: 293px;
				//@extend %bdr;
				background-color: $white;
				@include rhythm(0, 0, 0, 1);
			}
		}
	}
		h3 {
		@include adjust-font-size-to(20px, 2.8);
		color: $primary-color;
		font-family: 'din_lightregular';
		text-transform: uppercase;
	}
	.details {
		@include rhythm(0, 0, 0, 2);
		color: lighten($grey, 10%);
		@include adjust-font-size-to(18px, 2);
		font-weight: 700;
		span {
			display: block;
			color: lighten($grey, 30%);
			@include adjust-font-size-to(16px, 2);
			a {
				color: lighten($grey, 30%);
				text-decoration: none;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		&.no-margin {
			margin-bottom: 0px !important;
		}
	}
}

.image-gallery-container {
	//@extend %bdr;
	@include clearfix;
	width: 100%;
	.image-gallery {
		img {
			width: 100%;
		}
	}
}